.header{
    height: 80px;
    background-color: var(--secondary);
    width: 90%;
    margin: 0 auto;
    position: sticky;
    top: 0;
    box-shadow: 0px 5px 5px #fff;
    padding:0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a{
    color: aliceblue;
    font-size: 30px;
    font-weight: 600;
    padding: 10px;
    text-transform: uppercase;
}
.logo a:hover{
    color:orange;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:20px;
    right: 20px;
    display: none;
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li {
    padding:0px 20px;
    cursor: pointer;
}
nav ul li a{
    font-size: 25px;
    font-weight: 500;
    color:antiquewhite;
    text-transform: uppercase;
}
nav ul li a:hover{
    color:orangered;
}
.qty{
    color:black;
}
@media (max-width:768px){
    .header{
        width: 100%;
    }
    nav .navbar{
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top:80px;
        right: -100%;
        width: 60%;
        background-color: black;
        color: white;
        height: 300px;
        transition: all 1s ease-in-out;
        opacity: 0.5;
    }
    nav .navbar li{
        padding:20px;
        line-height: 30px;
    }
    nav .open li {
        padding:20px;
        line-height: 30px;
    }
    nav .open{
        right:0px;
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top:80px;
        background-color: black;
        color: white;
        height: 300px;
        width: 60%;
        text-align: center;
        transition: all 1s ease-in-out;
        opacity: 0.5;
    }
    .menu{
        display: block;
    }
}
