.product{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    gap: 20px;
}
.card{
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid black;
    width: 300px;
    height: 350px;
    border-radius: 5px;
    overflow-x: hidden;
    box-shadow:0px 5px 15px 0px rgb(237, 89, 89) ;
}

.cart-image{
    padding: 10px;
}
.image{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}
.text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
h2{
    font-size: 20px;
    font-weight: 500;
    color: black;
}
h3{
    font-size: 18px;
    font-weight: 400;
    color: black;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    width: 200px;
    padding:10px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    background-color: red;
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}
button:hover{
    transform: translateY(5px);
}
@media (max-width:969px) {
    .product{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width:768px) {
    .product{
        grid-template-columns: repeat(1,1fr);
    }
}